body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color:#694F5D;
}

.logo_nav{
    padding: 10px;
}

#quemsomos{
    background-color: #BFD3C1;
}

.margin{
    padding:25px;
}

.parceiros{
    background-color: #FFE5D4;
}

.servicos{
    background-color: #BFD3C1;
}

.bg-footer{
    background-color: black;
    color: white;
}